@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white:rgb(255, 251, 244);
    --black:rgb(20, 15, 7);
    --color-fondo: rgb(34, 39, 46);
    --color-fondo-modal: #8588d5;
    --color-fondo-modal2: #12565f;
}

* {
    font-family: 'Poppins';
}

body {
    background-color: var(--color-fondo);
    color: var(--white);
}

h1 {
    color: var(--white);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
    font-size: 35px;
}

.card-cliente {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.28);
}

.cliente {
    background-color: var(--white);
    border-radius: 32px;
    color: var(--black);
}

.cliente img {
    filter: drop-shadow(3px 1px 5px black);
}

.eliminar {
    border-radius: 50px;
}

.contraste {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: var(--color-fondo-modal)
}

.modal-content img {
    filter: drop-shadow(10px 7px 10px black);
}

.modal-content h5 {
    font-size: 32px;
}

.modal-content input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.modal-content .btn-close {
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

.modalFinish {
    background-color: var(--color-fondo-modal2);
}